{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel",
    "mocha"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": false,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true
  },
  "rules": {
    "strict": ["error", "never"],
    "no-var": "error",
    "prefer-const": "error",
    "no-shadow": "warn",
    "no-shadow-restricted-names": "error",
    "no-unused-vars": ["error", {
      "vars": "local",
      "args": "after-used"
    }],
    "no-use-before-define": "error",
    "comma-dangle": ["error", "never"],
    "no-cond-assign": ["error", "always"],
    "no-console": "warn",
    "no-debugger": "warn",
    "no-alert": "warn",
    "no-constant-condition": "warn",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-ex-assign": "error",
    "no-extra-boolean-cast": "off",
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-inner-declarations": "error",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-obj-calls": "error",
    "quote-props": ["warn", "as-needed"],
    "no-sparse-arrays": "error",
    "no-unreachable": "error",
    "use-isnan": "error",
    "block-scoped-var": "error",
    "consistent-return": "error",
    "curly": ["error", "multi-line"],
    "default-case": "error",
    "dot-notation": ["error", {
      "allowKeywords": true
    }],
    "eqeqeq": "error",
    "guard-for-in": "error",
    "no-caller": "error",
    "no-else-return": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-implied-eval": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-multi-str": "error",
    "no-native-reassign": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-with": "error",
    "radix": "error",
    "vars-on-top": "error",
    "wrap-iife": ["error", "any"],
    "yoda": "error",
    "indent": ["error", 2],
    "brace-style": ["error",
      "1tbs", {
      "allowSingleLine": true
    }],
    "quotes": [
      "error", "single", "avoid-escape"
    ],
    "jsx-quotes": ["error", "prefer-single"],
    "camelcase": ["error", {
      "properties": "never"
    }],
    "comma-spacing": ["error", {
      "before": false,
      "after": true
    }],
    "comma-style": ["error", "last"],
    "eol-last": "error",
    "func-names": "warn",
    "key-spacing": ["error", {
        "beforeColon": false,
        "afterColon": true
    }],
    "keyword-spacing": "error",
    "new-cap": ["error", {
      "newIsCap": true
    }],
    "no-multiple-empty-lines": ["error", {
      "max": 2
    }],
    "no-nested-ternary": "error",
    "no-new-object": "error",
    "no-spaced-func": "error",
    "no-trailing-spaces": "error",
    "no-extra-parens": "off",
    "no-underscore-dangle": "off",
    "one-var": ["error", "never"],
    "padded-blocks": ["off", "never"],
    "semi": ["error", "always"],
    "semi-spacing": ["error", {
      "before": false,
      "after": true
    }],
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "never"],
    "space-infix-ops": "error",
    "spaced-comment": "error",
    "react/display-name": "off",
    "react/jsx-boolean-value": "error",
    "react/jsx-no-undef": "error",
    "react/jsx-sort-props": "off",
    "react/jsx-sort-prop-types": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "react/jsx-curly-spacing": ["error", "never"],
    "react/jsx-equals-spacing": ["error", "never"],
    "react/jsx-handler-names": ["error", {
      "eventHandlerPrefix": "handle",
      "eventHandlerPropPrefix": "on"
    }],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-indent": ["error", 2],
    "react/jsx-key": "error",
    "react/jsx-max-props-per-line": ["error", { "maximum": 5 }],
    "react/jsx-no-bind": "warn",
    "react/jsx-no-duplicate-props": "error",
    "react/jsx-no-literals": "off",
    "react/jsx-pascal-case": "error",
    "react/no-deprecated": "error",
    "react/no-danger": "error",
    "react/no-did-mount-set-state": ["error", "allow-in-func"],
    "react/no-did-update-set-state": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-is-mounted": "error",
    "react/no-multi-comp": ["error", { "ignoreStateless": true }],
    "react/no-unknown-property": "error",
    "react/no-set-state": "warn",
    "react/no-string-refs": "warn",
    "react/prop-types": "error",
    "react/prefer-es6-class": ["error", "always"],
    "react/react-in-jsx-scope": "error",
    "react/self-closing-comp": "error",
    "react/wrap-multilines": "error",
    "react/sort-comp": ["error", {
      "order": [
        "displayName",
        "propTypes",
        "contextTypes",
        "childContextTypes",
        "mixins",
        "statics",
        "defaultProps",
        "getDefaultProps",
        "getInitialState",
        "getChildContext",
        "componentWillMount",
        "componentDidMount",
        "componentWillReceiveProps",
        "shouldComponentUpdate",
        "componentWillUpdate",
        "componentDidUpdate",
        "componentWillUnmount",
        "/^on.+$/",
        "/^get.+$/",
        "/^render.+$/",
        "render"
      ]
    }]
  }
}
